body {
    padding-top: 10px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: 'Lato', 'Arial', sans-serif !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  text-rendering: optimizeLegibility;
}
.row{
  margin-bottom: 30px;
}
.logo{
  width: 55%;
  margin-bottom: 40px;
}
.box{
  width: 500px;
  height: 200px;
   color: #fff;

}
.box h1{
  font-family: 'Lato', 'Arial', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300 !important;
  text-rendering: optimizeLegibility;
  margin-bottom: 40px;
  margin-top: 0px;
}
.box2{
  width: 400px;
  height: auto;



}
.load-text-box{
  width: 500px;
  height: 400px;
  -webkit-box-shadow: -2px 1px 14px 9px rgba(0,0,0,0.22);
  -moz-box-shadow: -2px 1px 14px 9px rgba(0,0,0,0.22);
  box-shadow: -2px 1px 14px 9px rgba(0,0,0,0.22);
}
.load-text-box ul{
  list-style: none;
  padding-left: 20px;
}

.load-text-box a{
  text-decoration: none;
  color: #fff;
  line-height: 2;

}
.load-text-box a:hover{
  color:#84C340;
}

/*button styling*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    width: 400px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited {
    background-color: ghostwhite color: #84C340;
    border: 1px solid #84C340;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #84C340;
    color: #84C340;
}

.btn:hover,
.btn:active {
    background-color: #84C340;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #84C340;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #84C340;
    color: #fff;
}


/*styling for comments */
.comments{
  color: #fff;
  text-align: left;
  line-height: 2;
}
.commentHolder{
  display: block;
   border: #777 1px solid;
   padding:10px;
}
.false{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px;
}
.date{
  text-align: left;
  color:#fff;
  text-decoration: underline;
}
/*styling for response*/


.response{
  display: block;
  text-align: left;
  width: 700px;
}
.response h2 {
  color:#fff;
}
.response p{
  color: #fff;
}

/*form styling */
#submit_button{
  background-color: #4C4C4C;
  border: 1px solid #84C340;
  color:#fff;
  padding:10px 30px;
  border-radius: 200px;
  font-size: 14px

}
.reviewForm label{
  color:#fff;
}
td span {
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
}
fieldset{
  margin: 10px;
}
button{
  color: #000;
}

textarea, input{
  color: #000 !important;
}

#userinfo input{
  margin:5px;
}

#userinfo label{
  margin: 8px;
}
/*thank you page */
.thanks{
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.thanks h1{
  font-weight: 200 !important;

}



/*loader*/
#loader{
       display: none;
       position: relative;
       width: 150px;
       height: 150px;
       top: 32%;
       left: 38%;
       border: 3px solid transparent;
       border-top-color: #fff;
       z-index: 1500;
       border-radius: 50%;
       -webkit-animation: spin 2s linear infinite;
       animation: spin 1.5s linear infinite;

     }
     #loader:before{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right:5px;
        bottom: 5px;
        border: 3px solid transparent;
        border-top-color: #84C340;
        border-radius: 50%;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;


      }
      #loader:after{
        content:"";
        position: absolute;
        top: 15px;
        left: 15px;
        bottom: 15px;
        right: 15px;
         border: 3px solid transparent;
         border-top-color: #fff;
         border-radius: 50%;
         -webkit-animation: spin 1.5s linear infinite;
         animation: spin 1.5s linear infinite;
      }

      @-webkit-keyframes spin{
       0%{
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
       }
       100%{
         -webkit-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         transform: rotate(360deg);
       }
     }
     @keyframes spin{
       0%{
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
       }
       100%{
         -webkit-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         transform: rotate(360deg);
       }
     }
  /*gly sizing*/
  .glyphicon{
    font-size:15px !important;
  }

  /*pampage*/

  #showTimeReview table td{
     color: #fff;
     padding:10px;
     text-transform: capitalize;
  }
  #search{
    background-color: #4C4C4C;
    background-image: none;
    border: none;
    color:#fff;
    font-size: 15px;
  }
  .glyphicon-search:before{
    font-size: 20px;
  }
  #search:focus {outline:0;}
*:focus {outline:0;}
  #gosearch{
    background-color: #4c4c4c;
      border: 1px solid #84C340;
  }
  .form-inline, #gosearch{
    display: inline-block;
  }


  /*#ui-datepicker-div{
    background-color: #fff;
  }*/
